@import "../variables/index";
@import "../mixins/index";

.c-header {

  $root: &;
  background: $white-color;
  padding: $padding-header;
  display: none;


  @include media-up(lg) {
    display: block;
    position: sticky;
    top: 0;
    z-index: 2;
  }


  &__inner {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-right: 73px;
  }

  &__navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  &__item {
    margin-right: 42px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__menu-link {
    @include typo-menu;
    color: $light-gray-color;
    cursor: pointer;

    &.is-active {
      color: $blue-color-1;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    margin-right: 8px;

  }

  &__social {
    margin-right: 35px;

    :last-child {
      margin-right: 0;
    }
  }

  &__social-link {
    &.is-active {
      fill: $blue-color-1;
    }
  }

  &__action {
    display: flex;
    align-items: center;
  }

}