@import '../../mixins/index';
@import '../../variables/index';

&--base {
  border-radius: $border-radius-button;
  @include typo-button;

  &-small {
    padding: 14px 20px;
  }

  &-blue {
    background: $light-blue-color-2;
    color: $blue-color-3;
  }
}
