@use '../../variables' as vars;
@use '../../mixins/typo' as mixins;

&--base {
  border-radius: vars.$border-radius-button;
  @include mixins.typo-button;

  &-small {
    padding: 14px 20px;
  }

  &-medium {
    width: 130px;
    height: 43px;
  }

  &-lg {
    width: 113px;
    height: 43px;
  }

  &-xl {
    width: 211px;
    height: 43px;
  }

  &-blue {
    background: vars.$light-blue-color-2;
    color: vars.$blue-color-3;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      background-color: vars.$dark-blue-color-2;
      color: vars.$white-color;
    }

    &:active {
      background-color: vars.$blue-color-1;
      color: vars.$white-color;
      transform: translateY(1px);
    }
  }

  &-white {
    background: vars.$white-color;
    color: vars.$color-button;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      background-color: vars.$dark-blue-color-2;
      color: vars.$white-color;
    }

    &:active {
      background-color: vars.$blue-color-1;
      color: vars.$white-color;
      transform: translateY(1px);
    }
  }

  &-blue-shadow {
    background: vars.$blue-color-7;
    box-shadow: vars.$shadow-5;
    color: vars.$white-color;
    border-radius: 0;
    transition: all 0.3s ease-in-out;

    &:hover,&:focus {
      background: vars.$dark-blue-color-2;
      color: vars.$white-color;

    }

    &:active {
      background-color: vars.$blue-color-1;
      color: vars.$white-color;
      transform: translateY(1px);
    }
  }

  &-border {
    border: 1px solid vars.$light-purple-color;
    color: vars.$dark-gray-color-1;
    transition: all 0.3s ease-in-out;

    &:hover,&:focus {
      background: vars.$dark-blue-color-2;
      color: vars.$white-color;
    }

    &:active {
      background-color: vars.$blue-color-1;
      color: vars.$white-color;
      transform: translateY(1px);
    }
  }

  &-red {
    background: vars.$red-color;
    color: vars.$dark-red-color;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      background-color: vars.$dark-blue-color-2;
      color: vars.$white-color;
    }

    &:active {
      background-color: vars.$blue-color-1;
      color: vars.$white-color;
      transform: translateY(1px);

    }
  }

  &.mr-10 {
    margin-right: 10px;
  }
}
