@use "../../variables" as vars;
@use "../../mixins/media" as mixins;
@use "../../mixins/typo" as typo;

&--base {

  #{$root} {

    &__hero {
      padding: 92px 0;

      @include mixins.media-up(lg) {
        padding: 171px 0 79px;
      }

    }

    &__hero-2 {
      padding: 92px 0;

      @include mixins.media-up(lg) {
        padding: 66px 0;
      }

    }


    &__hero-3 {
      padding: 92px 0;

      @include mixins.media-up(lg) {
        padding: 104px 0 214px;
      }

    }

    &__inner {
      flex-wrap: wrap;
      display: flex;
      justify-content: center;

      @include mixins.media-up(lg) {
        justify-content: center;
      }

    }

    &__inner-flow {
      flex-flow: column nowrap;

      @include mixins.media-up(lg) {
        display: flex;
        flex-flow: row nowrap;
      }
    }

    &__inner-flow-center {
      flex-flow: column nowrap;

      @include mixins.media-up(lg) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
      }
    }

    &__item {
      margin-bottom: 20px;

      @include mixins.media-up(lg) {
        margin-right: 76px;
        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__stats {
     display: none;

      @include mixins.media-up(lg) {
        flex-direction: row;
        display: flex;
      }

    }

    &__item-1 {
      text-align: right;
      flex: 1;
      background: vars.$gradient-2;
      padding: 92px 30px;

      @include mixins.media-up(lg) {
        padding: 66px 90px;
      }
    }

    &__item-2 {
      text-align: left;
      flex: 1;
      background: vars.$gradient-3;
      padding: 92px 30px;

      @include mixins.media-up(lg) {
        padding: 66px 90px;
      }
    }

    &__body {
      padding: 92px 0;

      @include mixins.media-up(lg) {
        display: flex;
        align-items: center;
        padding: 58px 0;
      }
    }

    &__body-2 {
      padding: 92px 0;

      @include mixins.media-up(lg) {
        padding: 208px 0 217px;
      }

    }

    &__content {
      text-align: center;
      position: relative;
      z-index: 1;
    }

    &__content-2 {
      text-align: left;
    }

    &__text {
      @include typo.typo-roboto-medium;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: vars.$dark-blue-color;
      margin-bottom: 16px;
    }

    &__text-2 {
      text-align: center;
      margin-bottom: 20px;
      @include typo.typo-roboto-medium;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: vars.$dark-blue-color;

      @include mixins.media-up(lg) {

        @include typo.typo-roboto-medium;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: vars.$dark-blue-color;
        margin-bottom: 27px;
        text-align: left;
      }

    }

    &__text-3 {
      @include typo.typo-roboto-medium;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: vars.$dark-blue-color;
      margin-bottom: 20px;

    }

    &__text-4 {
      @include typo.typo-card-text;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: vars.$gray-color-2;
    }

    &__title {
      @include typo.typo-title;
      color: vars.$dark-blue-color;
      margin-bottom: 22px;

      span {
        font-weight: 300;
      }
    }

    &__title-2 {
      @include typo.typo-subtitle-2;
      color: vars.$dark-blue-color;
    }

    &__subtitle {
      text-align: center;
      margin-bottom: 20px;
      @include typo.typo-subtitle;

      color: vars.$dark-blue-color;

      span {
        font-weight: 300;
      }

      @include mixins.media-up(lg) {
        @include typo.typo-subtitle;
        color: vars.$dark-blue-color;
        margin-bottom: 23px;
        text-align: left;
        span {
          font-weight: 300;
        }
      }

    }

    &__description {
      @include typo.typo-description;
      letter-spacing: 0.03em;
      color: vars.$purple-color;
      margin: 0 auto 20px auto;
      max-width: 502px;
    }

    &__description-2 {
      text-align: center;
      @include typo.typo-description;
      letter-spacing: 0.03em;
      color: vars.$purple-color;
      margin-bottom: 20px;

      @include mixins.media-up(lg) {
        @include typo.typo-description;
        letter-spacing: 0.03em;
        color: vars.$purple-color;
        margin: 0 auto;
        max-width: 413px;
        text-align: left;
      }

    }

    &__actions {
      display: flex;
      justify-content: center;
      margin-bottom: 77px;
      position: relative;
      z-index: 1;
    }

    &__actions-2 {
      text-align: center;

      @include mixins.media-up(lg) {
        display: flex;
        align-items: center;
        justify-content: left;
        z-index: 1;
        margin-top: 55px;
      }
    }

    &__actions-3 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 92px;

      @include mixins.media-up(md) {
        margin-top: 120px;
      }
    }

    &__images {

      display: block;
      position: relative;
      @include mixins.media-down(lg) {
        display: none;
      }

      img {
        max-width: none;
      }
    }

    &__monitor {
      position: absolute;
      width: 606px;
      height: 349px;
      left: -98px;
      top: -57px;
    }

    &__phone {
      position: absolute;
      width: 107px;
      height: 214px;
      top: 43px;
      left: 15px;
    }

    &__calc {
      position: absolute;
      width: 148px;
      height: 280px;
      left: 373px;
      top: 23px;
    }

    &__cloud-1 {
      position: absolute;
      top: -71px;
      left: 314px;
    }


    &__cloud-2 {
      position: absolute;
      top: -9px;
      right: 299px;
    }

    &__header {
      text-align: center;
    }

    &__line {
      width: 28px;
      height: 1px;
      background: vars.$light-blue-color-7;
      margin: 20px;

      @include mixins.media-up(md) {
        margin: 126px 20px 0 20px;
      }

    }

    &__line-small {
      width: 15px;
      height: 1px;
      background: vars.$light-blue-color-7;
      margin: 0 16px;
    }

    &__percent {
      @include typo.typo-percent;
      color: vars.$white-color;
      letter-spacing: 0.03em;
      margin-bottom: 5px;
      margin-top: 7px;

      &-blue {
        color: vars.$blue-color-8;
      }
    }

    &__subtext {
      @include typo.typo-subtext;
      letter-spacing: 0.03em;
      color: vars.$white-color;

      &-blue {
        color: vars.$blue-color-8;
      }
    }
  }
}