@import "../../variables/index";
@import "../../mixins/index";

&--base {

  #{$root} {

    &__inner {
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
      @include media-up(lg) {

        justify-content: center;
      }

    }

    &__item {
      margin-bottom: 20px;

      @include media-up(lg) {
        margin-right: 76px;
        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__body {
      padding: 20px 0;

      @include media-up(lg) {
        display: flex;
        align-items: center;
        padding: 58px 0;
      }
    }

    &__content {
      text-align: center;
      position: relative;
      z-index: 1;
    }

    &__text {
      @include typo-roboto-medium;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $dark-blue-color;
      margin-bottom: 16px;
    }

    &__title {
      @include typo-title;
      color: $dark-blue-color;
      margin-bottom: 20px;

      span {
        font-weight: 300;
      }
    }

    &__description {
      @include typo-description;
      letter-spacing: 0.03em;
      color: $purple-color;
      margin: 0 auto 20px auto;
      max-width: 502px;
    }

    &__actions {
      display: flex;
      justify-content: center;
      margin-bottom: 77px;
      position: relative;
      z-index: 1;
    }
  }
}