@import "../../variables/index";
@import "../../mixins/index";

&--base {

  #{$root} {

    &__hero {
      padding: 92px 0;

      @include media-up(lg) {
        padding: 171px 0 79px;
      }

    }

    &__hero-2 {
      padding: 92px 0;

      @include media-up(lg) {
        padding: 66px 0;
      }

    }

    &__inner {
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
      @include media-up(lg) {

        justify-content: center;
      }

    }

    &__inner-flow {
      flex-flow: column nowrap;

      @include media-up(lg) {
        display: flex;
        flex-flow: row nowrap;
      }
    }

    &__inner-flow-center {
      flex-flow: column nowrap;

      @include media-up(lg) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
      }
    }

    &__item {
      margin-bottom: 20px;

      @include media-up(lg) {
        margin-right: 76px;
        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__stats {
      display: flex;
      flex-direction: column;

      @include media-up(lg) {
        flex-direction: row;
      }

    }

    &__item-1 {
      text-align: right;
      flex: 1;
      background: $gradient-2;
      padding: 92px 30px;

      @include media-up(lg) {
        padding: 66px 90px;
      }
    }

    &__item-2 {
      text-align: left;
      flex: 1;
      background: $gradient-3;
      padding: 92px 30px;

      @include media-up(lg) {
        padding: 66px 90px;
      }
    }

    &__body {
      padding: 92px 0;

      @include media-up(lg) {
        display: flex;
        align-items: center;
        padding: 58px 0;
      }
    }

    &__body-2 {
      padding: 92px 0;

      @include media-up(lg) {
        padding: 208px 0 217px;
      }

    }

    &__content {
      text-align: center;
      position: relative;
      z-index: 1;
    }

    &__content-2 {
      text-align: left;
    }

    &__text {
      @include typo-roboto-medium;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $dark-blue-color;
      margin-bottom: 16px;
    }

    &__text-2 {
      text-align: center;
      margin-bottom: 20px;
      @include typo-roboto-medium;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $dark-blue-color;

      @include media-up(lg) {
        @include typo-roboto-medium;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $dark-blue-color;
        margin-bottom: 27px;
        text-align: left;
      }

    }

    &__text-3 {
      @include typo-roboto-medium;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $dark-blue-color;
      margin-bottom: 20px;

    }

    &__text-4 {
      @include typo-card-text;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $gray-color-2;
    }

    &__title {
      @include typo-title;
      color: $dark-blue-color;
      margin-bottom: 22px;

      span {
        font-weight: 300;
      }
    }

    &__title-2 {
      @include typo-subtitle-2;
      color: $dark-blue-color;
    }

    &__subtitle {
      text-align: center;
      margin-bottom: 20px;
      @include typo-subtitle;

      color: $dark-blue-color;

      span {
        font-weight: 300;
      }

      @include media-up(lg) {
        @include typo-subtitle;
        color: $dark-blue-color;
        margin-bottom: 23px;
        text-align: left;
        span {
          font-weight: 300;
        }
      }

    }

    &__description {
      @include typo-description;
      letter-spacing: 0.03em;
      color: $purple-color;
      margin: 0 auto 20px auto;
      max-width: 502px;
    }

    &__description-2 {
      text-align: center;
      @include typo-description;
      letter-spacing: 0.03em;
      color: $purple-color;
      margin-bottom: 20px;

      @include media-up(lg) {
        @include typo-description;
        letter-spacing: 0.03em;
        color: $purple-color;
        margin: 0 auto;
        max-width: 413px;
        text-align: left;
      }

    }

    &__actions {
      display: flex;
      justify-content: center;
      margin-bottom: 77px;
      position: relative;
      z-index: 1;
    }

    &__actions-2 {
      text-align: center;

      @include media-up(lg) {
        display: flex;
        align-items: center;
        justify-content: left;
        z-index: 1;
        margin-top: 58px;
      }
    }

    &__actions-3 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 92px;

      @include media-up(md) {
        margin-top: 120px;
      }
    }

    &__images {

      display: block;
      position: relative;
      @include media-down(lg) {
        display: none;
      }

      img {
        max-width: none;
      }
    }

    &__monitor {
      position: absolute;
      width: 606px;
      height: 349px;
      left: -98px;
      top: -57px;
    }

    &__phone {
      position: absolute;
      width: 107px;
      height: 214px;
      top: 43px;
      left: 15px;
    }

    &__calc {
      position: absolute;
      width: 148px;
      height: 280px;
      left: 373px;
      top: 23px;
    }

    &__cloud-1 {
      position: absolute;
      top: -71px;
      left: 314px;
    }


    &__cloud-2 {
      position: absolute;
      top: -9px;
      right: 299px;
    }

    &__header {
      text-align: center;
    }

    &__line {
      width: 28px;
      height: 1px;
      background: $light-blue-color-7;
      margin: 20px;

      @include media-up(md) {
        margin: 126px 20px 0 20px;
      }

    }

    &__line-small {
      width: 15px;
      height: 1px;
      background: $light-blue-color-7;
      margin: 0 16px;
    }

    &__percent {
      @include typo-percent;
      color: $white-color;
      letter-spacing: 0.03em;
      margin-bottom: 10px;

      &-blue {
        color: $blue-color-8;
      }
    }

    &__subtext {
      @include typo-subtext;
      letter-spacing: 0.03em;
      color: $white-color;

      &-blue {
        color: $blue-color-8;
      }
    }
  }
}