@use "../../variables" as vars;
@use "../../mixins" as mixins;

&--bg {
  background: vars.$gradient-1;

  &-light {
    background: vars.$light-blue-color-4;
  }

  &-bold {
    background: vars.$gradient-4;
  }
}