@import "../../variables/index";
@import "../../mixins/index";

&--bg {
  background: $gradient-1;

  &-light {
    background: $light-blue-color-4;
  }

  &-bold {
    background: $gradient-4;
  }


}