@use "../../variables" as vars;
@use "../../mixins" as mixins;
@use "../../mixins/typo" as typo;

&--home {
  padding: 108px 0;

  #{$root} {

    &__inner {

    }

    &__body {
      display: flex;
    }

    &__content {
      margin-top: 37px;
      flex: 1;
    }

    &__slider {
      flex: 1;
      position: relative;
    }

    &__title {
      @include typo.typo-subtle-home;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: vars.$dark-blue-color;
      margin-bottom: 31px;
    }

    &__subtitle {
      @include typo.typo-subtitle;
      color: vars.$dark-blue-color;
      margin-bottom: 17px;
    }

    &__context {
      @include typo.typo-context-home;
      max-width: 323px;
      color: vars.$gray-color-3;
      letter-spacing: 0.03em;
    }

  }
  .swiper-pagination-2 {
    position: absolute;
    left: 140px !important;
    bottom: -77px !important;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: vars.$light-gray-color-4;
  }

  .swiper-pagination-bullet-active {
    background-color: vars.$blue-color-6;
  }

  .swiper-pagination-bullet {
    margin: 0 6px !important;
  }
}