@use "../../variables" as vars;
@use "../../mixins/media" as mixins;

&--images {
  padding: 92px 0;

  @include mixins.media-up(lg) {
    padding: 92px 0 184px;
  }


  #{$root} {

    &__bg {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 12px;
        left: 232px;
        width: 1440px;
        height: 465px;
        background-image: url("/src/assets/img/cloud/chart.svg");

      }

      &:before {
        z-index: 1;
        content: "";
        position: absolute;
        top: -96px;
        left: 232px;
        width: 1301.5px;
        height: 550px;
        background-image: url("/src/assets/img/cloud/clouds.png");
      }

      @include mixins.media-down(xl) {
        display: none;
      }
    }

    &__stats {
      position: absolute;
      left: 674px;
      height: 134px;
      width: 147px;


      @include mixins.media-down(lg) {
        display: none;
      }
    }

  }
}



