@import "../../variables/index";
@import "../../mixins/index";


&--slider {

  #{$root} {

    &__inner-slider {
      padding-top: 92px;
      position: relative;
    }

    &__body-slider {
      padding: 63px 0;
      max-width: 958px;
      background: $white-color;
      border: 1px solid $color-border;
      box-shadow: $shadow-6;
      display: flex;
      margin: 0 auto;
    }

    &__slider-img {
      flex: 1;
    }

    &__slider-content {
      flex: 1;
      padding-left: 65px;
    }

    &__slider-title {
      @include typo-slider-title;
      color: $dark-blue-color;
      margin-bottom: 24px;
    }

    &__slider-subtitle {
      @include typo-slider-subtitle;
      letter-spacing: 0.01em;
      color: $purple-color;
      margin-bottom: 44px;
      max-width: 408px;
    }

    &__slider-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 35px;
    }

    &__slider-img {
      position: relative;

      &:after {
        border-radius: 5px;
        width: 267.32px;
        height: 267px;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
        background: linear-gradient(13.46deg, rgba(255, 199, 53, 0.44) -2.11%, rgba(255, 227, 154, 0.93) 1.9%, rgba(255, 159, 90, 0) 68.24%);
        filter: drop-shadow(0px 15px 100px #E5EBF8);
      }

    }


    &__slider-small-images {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 12px;
      gap: 12px;
    }

    &__slider-images-1 {
      position: relative;

      &:after {
        height: 127px;
        border-radius: 5px;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
        background: linear-gradient(27.48deg, rgba(255, 53, 53, 0.48) 14.02%, rgba(255, 179, 90, 0) 68%);
        filter: drop-shadow(0px 15px 100px #E5EBF8);

      }
    }

    &__slider-images-2 {
      position: relative;

      &:after {
        height: 127px;
        border-radius: 5px;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
        background: linear-gradient(13.49deg, rgba(53, 170, 255, 0.68) 11.59%, rgba(90, 136, 255, 0) 96.88%);
        filter: drop-shadow(0px 15px 100px #E5EBF8);

      }
    }

  }


  //swiper settings
  .swiper-button-next {
    top: 287px;
    right: 24px;
    content: url("data:image/svg+xml,%3Csvg width='27' height='19' viewBox='0 0 27 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 9.5H25M25 9.5L17.1887 2M25 9.5L17.1887 17' stroke='%23A8B4E5' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
  }

  .swiper-button-prev {
    top: 287px;
    left: 24px;
    content: url("data:image/svg+xml,%3Csvg width='27' height='19' viewBox='0 0 27 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 9.5L2 9.5M2 9.5L9.81132 17M2 9.5L9.81132 2' stroke='%23A8B4E5' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }

  .swiper-pagination {
    bottom: -113px !important;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: $light-gray-color-4;
  }

  .swiper-pagination-bullet-active {
    background-color: $blue-color-6;
  }

  .swiper-pagination-bullet {
    margin: 0 7px !important;
  }

}





