@use '../../mixins' as mixins;
@use '../../mixins/typo' as typo;
@use '../../variables' as vars;

&--slider-card {

  #{$root} {

    &__slider {
      max-width: 423px;
      position: relative;
    }

    &__body {
      background: vars.$white-color;
      border: 1px solid vars.$color-border;
      box-shadow: vars.$shadow-7;
      margin-left: 20px;
      position: relative;
      max-width: 423px;
    }

    &__text {
      @include typo.typo-slider-subtitle;
      letter-spacing: 0.03em;
      line-height: 24px;
      color: vars.$dark-gray-color;
      max-width: 297px;
      margin: 0 auto;
      padding: 39px 0;
    }

    &__avatar {
      position: absolute;
      top: 142px;
      left: 179px;
    }
  }

}