@import '../../variables/index';

@mixin typo-button {
  font-family: $quicksand-font;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}

@mixin typo-menu {
  font-family: $quicksand-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  text-shadow: $shadow-4;
}

@mixin typo-roboto-medium {
  font-family: $roboto-font;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}

@mixin typo-title {
  font-family: $quicksand-font;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
}


@mixin typo-subtitle {
  font-family: $quicksand-font;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
}


@mixin typo-subtitle-2 {
  font-family: $quicksand-font;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}


@mixin typo-description {
  font-family: $roboto-font;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
}

@mixin typo-card-title {
  font-family: $open-sans-font;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;

}

@mixin typo-card-text {
  font-family: $open-sans-font;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
}

@mixin typo-card-text-2 {
  font-family: $open-sans-font;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 83px;
  letter-spacing: 0.03em;
}

@mixin typo-card-text-3 {
  font-family: $open-sans-font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  letter-spacing: 0.03em;

}

@mixin typo-percent {
  font-family: $quicksand-font;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 83px;
}

@mixin typo-subtext {
  font-family: $quicksand-font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

@mixin typo-slider-title {
  font-family: $quicksand-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
}

@mixin typo-slider-subtitle {
  font-family: $quicksand-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
}









