@use '../../variables' as vars;
@use '../media' as media;

@mixin animate-animation() {
  @include media.media-up(vars.$animation-breakpoint) {
    animation-duration: vars.$animation-duration;
    animation-timing-function: vars.$animation-function;
    animation-fill-mode: forwards;
  }
}
