@use '../../variables' as vars;
@use '../media' as media;

@mixin animate-transition($properties...) {
  @if length($properties) == 0 {
    $properties: all;
  }

  @include media.media-up(vars.$transition-breakpoint) {
    transition-timing-function: vars.$transition-function;
    transition-duration: vars.$transition-duration;
    transition-property: $properties;
  }
}

@mixin animate-transition-no-media($properties...) {
  @if length($properties) == 0 {
    $properties: all;
  }

  transition-timing-function: vars.$transition-function;
  transition-duration: vars.$transition-duration;
  transition-property: $properties;
}
